/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros conteúdos ao fixar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}



/* Responsividade da linha do topo */
.linhaTopo {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #fa4704;
    width: 100%;
    padding: 5px 0px;
    flex-wrap: wrap;
    position: sticky;
}

.linhaTopo p {
    margin: 0px 20px;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px; 
    margin: 0px 10px;
    flex-wrap: wrap;
    position: sticky;
}


.logo img {
    width: 180px;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Alinha os itens do menu à direita */
}

nav li {
    margin-left: 20px; /* Espaçamento entre os itens do menu */
}

nav a {
    text-decoration: none;
    color: #333; /* Cor do texto do menu */
    padding: 5px 10px;
    border-radius: 20px; /* Bordas arredondadas */
    transition: background-color 0.3s, color 0.3s; /* Adiciona uma transição suave para as mudanças de cor */
}

nav a:hover {
    background-color: #fa4704; /* Cor de fundo do botão quando o mouse passa por cima */
    color: white; /* Cor do texto do botão quando o mouse passa por cima */
}


.menuTopo ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuTopo li {
    margin-left: 20px;
}

.menuTopo a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}



.contato {
    text-align: center;
}

.contato h1 {
    font-size: 32px; /* Tamanho do texto h1 */
    margin-top: 40px; /* Espaçamento opcional entre h1 e p */
    margin: 20px; /* Espaçamento opcional entre h1 e p */
}

.contato p {
    font-size: 20px; /* Tamanho do texto p */
}

.contatoElementos {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}

.contatoElementos article {
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 350px;
    height: 100px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-align: center;
}

.contatoElementos article:hover {
    background-color: #fa4704;
    color: #fff;
}

.contatoElementos h3 {
    margin-top: 0;
}

.contatoElementos p {
    text-align: center;
}




.whatsappBotaoFixo {
    display: flex; /* Torna o container flexível */
    align-items: center; /* Alinha os itens verticalmente */
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;  /* Coloca o botão do WhatsApp na frente de outros elementos */
    background-color: #00bb2d; /* Cor de fundo do botão do WhatsApp */
    color: white; /* Cor do texto do botão do WhatsApp */
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    max-width: 280px; /* Define o tamanho máximo do botão */
}

.whatsappBotaoFixo img {
    max-width: 20px; /* Ajusta o tamanho da imagem conforme necessário */
    height: auto;
    vertical-align: middle; /* Alinha a imagem verticalmente ao centro */
    margin-right: 5px; /* Adiciona um espaço entre a imagem e o texto */
}

*{
    padding: 0px;
    margin: 0px;
}



.rodape{
    margin: 60px 0px;
    padding: 20px;
    border-top: 2px solid #fa4704;
    width: 100%;
    font-size: 14px;


}
.rodape p {
    margin: 0;
}
.rodape-menu {
    margin-top: 30px; /* Espaço entre o parágrafo e o menu */
}
.rodape {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px; /* Espaço extra acima do rodapé */
}
.rodape-menu a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;

   
}
.rodape-menu a:hover {
    color: #fff;
    
    background-color: #fa4704;
}


