
.contatoElementos{
    display: flex;
    justify-content: space-between;
    
    padding: 50px;
    align-items: center;
}




.contatoElementos article {
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 350px;
    height: 80px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-align: center;
    
}

.contatoElementos article:hover {
    background-color: #fa4704;
    color: #fff;
}

.contatoElementos h3 {
    margin-top: 0;
}

.contatoElementos p{
    text-align: center;
}

.contato{
    text-align: center;
}

.contato h1 {
    font-size: 32px; /* Tamanho do texto h1 */
    margin: 20px; /* Espaçamento opcional entre h1 e p */
    color: black;
}

.contato p {
    font-size: 20px; /* Tamanho do texto p */
    color: black;
   
}